@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
  height: 64px;
  border-radius: 5px;
  background: #fd6e0a;
}

.btn-secondary {
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
  height: 64px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  color: #fd6e0a;
  background: transparent;
  margin-left: 30px;
}

.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

/* header and navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px 50px;
  padding: 50px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

/* Banner styles */
.banner {
  display: flex;
  align-items: center;
  /* margin: 0 200px; */
  margin: 0 38px 50px 200px;
}

.banner-subtitle {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}

.banner-title {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}

.banner-desc {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}

/* Main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}

.section {
  margin-top: 130px;
}

/* About section */
.about {
  margin-top: 130px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 131px 156px;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
}

.section-desc {
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  font-size: 18px;
  margin-bottom: 30px;
}

/* about info container */
.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info {
  /* margin-right: 50px; */
}

.info-title {
  font-size: 20px;
  color: #757575;
}

.info-desc {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}

/* What i do section */
/* .what-i-do {
  margin-top: 130px;
} */

.what-section {
  text-align: center;
}

.what-subtitle {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin: 30px 145px 50px;
}

.skills-container {
  display: flex;
  /* justify-content: space-around; */
  gap: 24px;
}

.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

.skill-title {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin-top: 30px;
  /* padding: 30px; */
}

.skill-desc {
  color: #757575;
  margin-top: 20px;
  /* padding: 0 30px 30px; */
}

/* Resume section styles */
.resume-container {
  display: flex;
  gap: 24px;
  margin-top: 113px;
}

.resume-item {
  margin: 30px 0;
}

.resume-item .title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}

.resume-item .sub-title {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}

.resume-item .desc {
  color: #757575;
}

.download-btn {
  margin-top: 50px;
  text-align: center;
}

/* Contact styles */
.contact {
  display: flex;
  gap: 115px;
  background: #fff8f3;
  padding: 130px 200px;
}

.contact-title {
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  margin-bottom: 20px;
}

.contact-subtitle {
  color: #474747;
  margin-bottom: 30px;
}

.contact input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 24px;
  border: none;
  width: 100%;
  padding: 18px 30px;
}

input {
  height: 64px;
}

.contact a {
  text-decoration: none;
  margin-right: 24px;
}

/* Responsive styles */

@media screen and (max-width: 576px) {
  .what-subtitle {
    margin: 20px;
  }
  .skills-container,
  .resume-container,
  .about-info-container {
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
  }
  .about {
    padding: 20px;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
}

.hide {
  display: none;
}
