@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

/* header and navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

.text-primary {
  color: #fd6e0a;
}
